.kalendario__event {
  display: flex;
  flex-wrap: wrap;
}

.kalendario__description {
  background: linear-gradient(to bottom, #efefef, #fafafa 1em, #fafafa 1em);
  border-bottom: #efefef 1px solid;
  width: 100%;
}

.kalendario__content {
  padding: 2em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media (min-width: 992px) {
  .kalendario__content {
    padding-left: 340px;
  }
}

@media (min-width: 1200px) {
  .kalendario__content {
    padding-right: 20%;
  }
}
