.calex__event {
    display: flex;
    flex-wrap: wrap;
}

.calex__description {
    background: linear-gradient(to bottom, #efefef, #fafafa 1em, #fafafa 1em);
    border-bottom: #efefef 1px solid;
    width: 100%;
}

.calex__description--content {
    padding: 2em;
    word-wrap: break-word;
}

@media (min-width: 992px) {
    .calex__description--content {
        padding-left: 340px;
    }
}

@media (min-width: 1200px) {
    .calex__description--content {
        padding-right: 20%;
    }
}
