html {
  color: #466da7;
  font-family: 'Noto Sans HK', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

header {
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
}

.logo__title {
  color: #774f74;
  font-size: 1.5em;
}

.logo__subtitle {
  font-size: 0.375em;
  display: block;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav a {
  margin: 0.5rem 1rem;
}

.hero {
  background: linear-gradient(to bottom right, #466da7, #c22a58);
  margin-bottom: 6rem;
  padding: 0 1rem;
  position: relative;
}

.hero__text {
  color: #d8f5ff;
  text-align: center;
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 3rem 0;
  margin: 0;
}

.hero__image {
  display: block;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2),
    0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  margin-bottom: -3rem;
}

.download {
  background: #466da7;
  border-radius: 0.5em;
  bottom: 0;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.3);
  left: 50%;
  overflow: hidden;
  padding: 0.5em 1em;
  position: absolute;
  transform: translate(-50%, 50%);
}

.download:target {
  animation: download 1s ease infinite alternate;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.6);
}

.download:hover .download__links,
.download:focus-within .download__links,
.download:target .download__links {
  opacity: 1;
}

.download--home {
  bottom: -3rem;
}

.download__title {
  align-items: center;
  color: #fff;
  display: inline-flex;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.download__icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.download__icon--title {
  margin-right: 0.5em;
}

.download__icon--links {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.download__links {
  background: #466da7;
  color: #fff;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s ease;
  width: 100%;
}

.download__link {
  align-items: center;
  background: linear-gradient(to bottom right, #466da7, rgba(37, 73, 101, 0.5));
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
  text-decoration: none;
}

.download__link:hover,
.download__link:focus {
  background-color: #774f74;
}

main {
  padding: 3rem 0;
  flex: 1;
}

footer {
  font-size: 0.875rem;
  padding: 2rem 0.5rem;
  text-align: center;
}

h1 {
  color: #774f74;
}

h2 {
  color: #98588c;
}

a {
  background: transparent;
  color: #466da7;
  font-weight: bold;
  transition: background 0.25s ease;
}

a:hover,
a:focus {
  background: #f3d4dd;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
}

@media (min-width: 450px) {
  nav li {
    display: inline-block;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}

@keyframes download {
  0% {
    transform: translate(-50%, 50%) scale(1);
  }
  100% {
    transform: translate(-50%, 50%) scale(1.125);
  }
}
